<% provide(:title, "Compnay info")  %>
<div class="container jumbotron">

<% if @companyInfo %>
    
    <h3> <%= @companyInfo["name"] if @companyInfo["name"] %> </h3>
    
    <table class="table table-striped table-bordered table-condensed">
        <tbody>
            <tr>
                <td>Company Number</td>
                <td> <%= @companyInfo["company_number"] if @companyInfo["company_number"] %> </td>
            </tr>
            <tr>
                <td>Status</td>
                <td> <%= @companyInfo["current_status"] if @companyInfo["current_status"] %> </td>
            </tr>
            <tr>
                <td>Incorporation Date</td>
                <td> <%= @companyInfo["incorporation_date"] if @companyInfo["incorporation_date"] %> </td>
            </tr>
            <tr>
                <td>Company Type</td>
                <td> <%= @companyInfo["company_type"] if @companyInfo["company_type"] %> </td>
            </tr>
            <tr>
                <td>Jurisdiction</td>
                <td><%= @companyInfo["jurisdiction_code"] if @companyInfo["jurisdiction_code"] %> </td>
            </tr>
            <tr>
                <td>Registered Address</td>
                <td> <% if @companyInfo["registered_address"] %> 
                            <%= @companyInfo["registered_address"]["street_address"] + ", " if @companyInfo["registered_address"]["street_address"] %>
                            <%= @companyInfo["registered_address"]["locality"] + ", " if @companyInfo["registered_address"]["locality"] %>
                            <%= @companyInfo["registered_address"]["postal_code"] + ", " if @companyInfo["registered_address"]["postal_code"] %>
                            <%= @companyInfo["registered_address"]["country"] if @companyInfo["registered_address"]["country"] %>
                    <% end %> 
                </td>
            </tr>
        </tbody>
    </table>  
    
    <br/>
    <h3>The following data providers may provide additional data about <%= @companyInfo["name"] if @companyInfo["name"] %></h3>
    
    <table class="table table-bordered table-condensed">
        <tbody>
            
            <% if !params[:atokaCompanyNumber].to_s.empty? %>
            <tr>
                <td> <%= image_tag("AtokaLogoLarge.png", size: "90x30") %> </td>
                <td> Atoka is the search engine for Italian companies: quickly find the business information you are looking for, using powerful search filters. </td>
            </tr>
            <% end %>
            
            <% if @companyInfo["source"] && @companyInfo["source"]["publisher"] == "Brønnøysundregistrene"  %>
            <tr>
                <td> <%= link_to image_tag("BrregLogoLarge.jpg", size: "250x30"), @companyInfo["registry_url"], :target => "_blank" %> </td>
                <td> The Brønnøysund Register Centre develops and operates many of Norway's most important registers and electronic solutions. Administering Altinn, coordinating data in the public sector and providing advisory services are central tasks that make things easier for business and industry. </td>
            </tr>
            <% end %>
            
            <tr>
                <td> <%= link_to image_tag("OCLogoLarge.png", size: "142x30"), @companyInfo["opencorporates_url"], :target => "_blank" %> </td>
                <td> OpenCorporates is the largest open database of companies and company data in the world, with in excess of 100 million companies in a similarly large number of jurisdictions. Our primary goal is to make information on companies more usable and more widely available for the public benefit, particularly to tackle the use of companies for criminal or anti-social purposes, for example corruption, money laundering and organised crime. </td>
            </tr>
            
        </tbody>
    </table>
    
<% end %>
    
</div>
