<% provide(:title, "Compnay info")  %>
<div class="container">

    <!-- The search feature assumes one base search, and a set of alternative searches. The results obtained from the base search is then compared to the results from the available alternative searches. -->
    <% baseCompanyInfo = @companyInfo[0] %>
    <% alternativeCompanyInfo = @companyInfo[1] %>
    <% if alternativeCompanyInfo && alternativeCompanyInfo.any? %>
        <% colspan = 3 %>
    <% else %>
        <% colspan = 2 %>
    <% end %>


    <% if baseCompanyInfo %>

    <h3> <%= baseCompanyInfo["name"] if baseCompanyInfo["name"] %> </h3>

    <table class="table table-responsive table-bordered table-condensed">
        <tbody>
            <tr>
                <th class="active">Company</th>
                <th class="active">Base data (OpenCorporates)</th>
                <% if colspan == 3 %>
                <th class="active">Alternative data (Atoka)</th>
                <% end %> 
            </tr>
            <tr>
                <td>Legal Name</td>
                <% if alternativeCompanyInfo && alternativeCompanyInfo.any? %>
                    <% if baseCompanyInfo["name"] == alternativeCompanyInfo["base"]["legalName"] %>
                        <td class="success"> <%= baseCompanyInfo["name"] %></td>
                        <td class="success"> Matched all</td>
                    <% else %>
                        <td class="warning"> <%= baseCompanyInfo["name"] %></td>
                        <%= render 'search/altcmp_btn_start' %>
                        <li><%= link_to alternativeCompanyInfo["base"]["legalName"] %></li>
                        <%= render 'search/altcmp_btn_end' %>
                    <% end %>
                <% else %>
                    <td> <%= baseCompanyInfo["name"] %> </td>
                    <% if colspan == 3 %>
                    <td> &nbsp; </td>
                    <% end %>   
                <% end %> 
            </tr>
            <tr>
                <td>Trading As</td>
                <% if alternativeCompanyInfo && alternativeCompanyInfo.any? %>
                    <% if "NotAvailable_OC" == alternativeCompanyInfo["name"] %>
                        <td class="success"> <%= baseCompanyInfo["name"] %></td>
                        <td class="success"> Matched all</td>
                    <% else %>
                        <td class="warning"> <i> Information not available.</i></td>
                        <%= render 'search/altcmp_btn_start' %>
                        <li><%= link_to image_tag("AtokaLogoSmall.png", size: "22x22") + alternativeCompanyInfo["name"].to_s, "#" %></li>
                        <%= render 'search/altcmp_btn_end' %>
                    <% end %>
                <% else %>
                    <td> <i> Information not available.</i> </td>
                    <% if colspan == 3 %>
                    <td> &nbsp; </td>
                    <% end %>   
                <% end %> 
            </tr>
            <tr>
                <td>Startup</td>
                <% if alternativeCompanyInfo && alternativeCompanyInfo.any? %>
                    <% if "NotAvailable_OC" == alternativeCompanyInfo["base"]["startup"] %>
                        <td class="success"> <%= baseCompanyInfo["name"] %></td>
                        <td class="success"> Matched all</td>
                    <% else %>
                        <td class="warning"><i> Information not available.</i></td>
                        <%= render 'search/altcmp_btn_start' %>
                        <li><%= link_to image_tag("AtokaLogoSmall.png", size: "22x22") + " " + alternativeCompanyInfo["base"]["startup"].to_s, "#"  %></li>
                        <%= render 'search/altcmp_btn_end' %>
                    <% end %>
                <% else %>
                    <td> <i> Information not available.</i> </td>
                    <% if colspan == 3 %>
                    <td> &nbsp; </td>
                    <% end %>   
                <% end %> 
            </tr>
            <tr>
                <td>Publicly Traded</td>
                <% if alternativeCompanyInfo && alternativeCompanyInfo.any? %>
                    <% if alternativeCompanyInfo["economics"] %>
                        <% if alternativeCompanyInfo["economics"]["public"] && "NotAvailable_OC" == alternativeCompanyInfo["economics"]["public"] %>
                            <td class="success"> <%= baseCompanyInfo["name"] %></td>
                            <td class="success"> Matched all</td>
                        <% else %>
                    <td class="warning"><i> Information not available.</i></td>
                            <%= render 'search/altcmp_btn_start' %>
                            <li><%= link_to image_tag("AtokaLogoSmall.png", size: "22x22") + " ", "#" %></li>
                            <%= render 'search/altcmp_btn_end' %>
                        <% end %>
                    <% else %> 
                    <td class="warning"><i> Information not available.</i></td>
                            <%= render 'search/altcmp_btn_start' %>
                            <li><%= link_to image_tag("AtokaLogoSmall.png", size: "22x22") + " ", "#" %></li>
                            <%= render 'search/altcmp_btn_end' %>
                    <% end %>                 
                <% else %>
                    <td> <i> Information not available.</i> </td>
                    <% if colspan == 3 %>
                    <td> &nbsp; </td>
                    <% end %>   
                <% end %> 
            </tr>
            <tr>
                <th colspan="<%= colspan %>" class="active">Company Dates and Status</th>
            </tr>
            <tr>
                <td>Incorporation Date</td>
                <% if alternativeCompanyInfo && alternativeCompanyInfo.any? %>
                    <% if baseCompanyInfo["incorporation_date"] == alternativeCompanyInfo["base"]["founded"] %>
                        <td class="success"> <%= baseCompanyInfo["incorporation_date"] %></td>
                        <td class="success"> Matched all</td>
                    <% else %>
                        <td class="warning"> <%= baseCompanyInfo["incorporation_date"] %></td>
                        <%= render 'search/altcmp_btn_start' %>
                        <li><%= link_to alternativeCompanyInfo["base"]["founded"] %></li>
                        <%= render 'search/altcmp_btn_end' %>
                    <% end %>
                <% else %>
                    <td> <%= baseCompanyInfo["incorporation_date"] %> </td>
                    <% if colspan == 3 %>
                    <td> &nbsp; </td>
                    <% end %>   
                <% end %> 
            </tr>
            <tr>
                <td>Dissolution Date</td>
                <% if alternativeCompanyInfo && alternativeCompanyInfo.any? %>
                    <% if baseCompanyInfo["dissolution_date"] == "NotAvailable_Atoka" %>
                        <td class="success"> <%= baseCompanyInfo["dissolution_date"] %></td>
                        <td class="success"> Matched all</td>
                    <% else %>
                        <td class="warning"> <%= baseCompanyInfo["dissolution_date"] %></td>
                        <%= render 'search/altcmp_btn_start' %>
                        <li><%= link_to image_tag("AtokaLogoSmall.png", size: "22x22") + " Information not available", "#" %></li>
                        <%= render 'search/altcmp_btn_end' %>
                    <% end %>
                <% else %>
                    <td> <%= baseCompanyInfo["dissolution_date"] %> </td>
                    <% if colspan == 3 %>
                    <td> &nbsp; </td>
                    <% end %>   
                <% end %> 
            </tr>
            <tr>
                <td>Current Status</td>
                <% if alternativeCompanyInfo && alternativeCompanyInfo.any? %>
                    <% if baseCompanyInfo["current_status"] == "NotShared_Atoka" %>
                        <td class="success"> <%= baseCompanyInfo["current_status"] %></td>
                        <td class="success"> Matched all</td>
                    <% else %>
                        <td class="warning"> <%= baseCompanyInfo["current_status"] %></td>
                        <%= render 'search/altcmp_btn_start' %>
                        <li><%= link_to image_tag("AtokaLogoSmall.png", size: "22x22") + " Login to Atoka", "#" %></li>
                        <%= render 'search/altcmp_btn_end' %>
                    <% end %>
                <% else %>
                    <td> <%= baseCompanyInfo["current_status"] %> </td>
                    <% if colspan == 3 %>
                    <td> &nbsp; </td>
                    <% end %>   
                <% end %> 
            </tr>
            <tr>
                <th colspan="<%= colspan %>" class="active">Company Type</th>
            </tr>
            <tr>
                <td>Company Type Name</td>
                <% if alternativeCompanyInfo && alternativeCompanyInfo.any? %>
                    <% if baseCompanyInfo["company_type"] == alternativeCompanyInfo["base"]["legalForms"][0]["name"] %>
                        <td class="success"> <%= baseCompanyInfo["company_type"] %></td>
                        <td class="success"> Matched all</td>
                    <% else %>
                        <td class="warning"> <%= baseCompanyInfo["company_type"] %></td>
                        <%= render 'search/altcmp_btn_start' %>
                        <li><%= link_to image_tag("AtokaLogoSmall.png", size: "22x22") + alternativeCompanyInfo["base"]["legalForms"][0]["name"].to_s, "#"  %></li>
                        <%= render 'search/altcmp_btn_end' %>
                    <% end %>
                <% else %>
                    <td> <%= baseCompanyInfo["company_type"] %> </td>
                    <% if colspan == 3 %>
                    <td> &nbsp; </td>
                    <% end %>   
                <% end %> 
            </tr>
            <tr>
                <td>Public Sector Organization</td>
                <% if alternativeCompanyInfo && alternativeCompanyInfo.any? %>
                    <% if "NotAvailable_OC" ==  "NotAvailable_Atoka" + "[public] only available for 'it' companies" %>
                        <td class="success"> <%= baseCompanyInfo["dissolution_date"] %></td>
                        <td class="success"> Matched all</td>
                    <% else %>
                        <td class="warning"> <i>Information not available.</i> </td>
                        <%= render 'search/altcmp_btn_start' %>
                        <li><%= link_to image_tag("AtokaLogoSmall.png", size: "22x22") + " ", "#" %></li>
                        <%= render 'search/altcmp_btn_end' %>
                    <% end %>
                <% else %>
                    <td> <i>Information not available.</i> </td>
                    <% if colspan == 3 %>
                    <td> &nbsp; </td>
                    <% end %>   
                <% end %> 
            </tr>
            <tr>
                <td>Public Sector: type of entity</td>
                <% if alternativeCompanyInfo && alternativeCompanyInfo.any? %>
                    <% if "NotAvailable_OC" == "NotAvailable_Atoka" + "[base][govType] only available for 'it' companies?" %>
                        <td class="success"> <%= baseCompanyInfo["dissolution_date"] %></td>
                        <td class="success"> Matched all</td>
                    <% else %>
                        <td class="warning"> <i>Information not available.</i> </td>
                        <%= render 'search/altcmp_btn_start' %>
                        <li><%= link_to image_tag("AtokaLogoSmall.png", size: "22x22") + " ", "#" %></li>
                        <%= render 'search/altcmp_btn_end' %>
                    <% end %>
                <% else %>
                    <td> <i>Information not available.</i> </td>
                    <% if colspan == 3 %>
                    <td> &nbsp; </td>
                    <% end %>   
                <% end %> 
            <tr>
                <th colspan="<%= colspan %>" class="active">Economic Classification</th>
            </tr>
            <tr>
                <td>UKSIC</td>
                <% if alternativeCompanyInfo && alternativeCompanyInfo.any? %>
                <% baseUKSIC = baseCompanyInfo["industry_codes"].to_a %>
                <% alternativeUKSIC = alternativeCompanyInfo["base"]["sicUk"].to_a %>
                    <% if baseUKSIC.length == alternativeUKSIC.length %>
                        <td class="success">
                            <% (0..baseUKSIC.length-1).each do |i| %>
                                <%= baseUKSIC[i]["industry_code"]["code"] %>: <%= baseUKSIC[i]["industry_code"]["description"] %>  <br>
                            <% end %>
                        </td>
                        <td class="success"> Matched all </td>
                    <% else %>
                        <td class="warning">
                            <% (0..baseUKSIC.length-1).each do |i| %>
                                <%= baseUKSIC[i]["industry_code"]["code"] %>: <%= baseUKSIC[i]["industry_code"]["description"] %>  <br>
                            <% end %>
                        </td>
                        <%= render 'search/altcmp_btn_start' %>
                            <% (0..alternativeUKSIC.length-1).each do |i| %>
                            <li>
                                <%= link_to image_tag("AtokaLogoSmall.png", size: "22x22") + " " + alternativeUKSIC[i]["code"] + ": " + alternativeUKSIC[i]["description"] %>
                            </li>
                            <% end %>
                        <%= render 'search/altcmp_btn_end' %>
                    <% end %>
                <% else %>
                    <td>
                        <% baseUKSIC = baseCompanyInfo["industry_codes"].to_a %>
                        <% (0..baseUKSIC.length-1).each do |i| %>
                            <%= baseUKSIC[i]["industry_code"]["code"] %>: <%= baseUKSIC[i]["industry_code"]["description"] %>  <br>
                        <% end %>
                    </td>
                    <% if colspan == 3 %>
                    <td> &nbsp; </td>
                    <% end %>   
                <% end %> 
            </tr>
            <tr>
                <th colspan="<%= colspan %>" class="active">Physical Presence</th>
            </tr>
            <tr>
                <td>Registered Address</td>
                <% if alternativeCompanyInfo && alternativeCompanyInfo.any? %>
                    <% if baseCompanyInfo["registered_address_in_full"] == alternativeCompanyInfo["fullAddress"] %>
                        <td class="success"> <%= baseCompanyInfo["registered_address_in_full"] %></td>
                        <td class="success"> Matched all</td>
                    <% else %>
                        <td class="warning"> <%= baseCompanyInfo["registered_address_in_full"] %></td>
                        <%= render 'search/altcmp_btn_start' %>
                        <li><%= link_to image_tag("AtokaLogoSmall.png", size: "22x22") + " " + alternativeCompanyInfo["fullAddress"].to_s, "#"  %></li>
                        <%= render 'search/altcmp_btn_end' %>
                    <% end %>
                <% else %>
                    <td> <%= baseCompanyInfo["registered_address_in_full"] %> </td>
                    <% if colspan == 3 %>
                    <td> &nbsp; </td>
                    <% end %>   
                <% end %>
            </tr>
            <tr>
                <td>Jurisdiction / Country Code</td>
                <% if alternativeCompanyInfo && alternativeCompanyInfo.any? %>
                    <% if baseCompanyInfo["jurisdiction_code"] == alternativeCompanyInfo["country"] %>
                        <td class="success"> <%= baseCompanyInfo["jurisdiction_code"] %></td>
                        <td class="success"> Matched all</td>
                    <% else %>
                        <td class="warning"> <%= baseCompanyInfo["jurisdiction_code"] %></td>
                        <%= render 'search/altcmp_btn_start' %>
                        <li><%= link_to image_tag("AtokaLogoSmall.png", size: "22x22") + " " + alternativeCompanyInfo["country"].to_s, "#"  %></li>
                        <%= render 'search/altcmp_btn_end' %>
                    <% end %>
                <% else %>
                    <td> <%= baseCompanyInfo["jurisdiction_code"] %> </td>
                    <% if colspan == 3 %>
                    <td> &nbsp; </td>
                    <% end %>   
                <% end %>
            </tr>
            <tr>
                <th colspan="<%= colspan %>" class="active">Electronic Presence</th>
            </tr>
            <tr>
                <td>Wikipedia URI</td>
                <% if alternativeCompanyInfo && alternativeCompanyInfo.any? %>
                    <% if "NotAvailable_OC" == "NotAvailable_Atoka" + "[web][wikipediUri] only available for 'it' companies?" %>
                        <td class="success"> <%= baseCompanyInfo["jurisdiction_code"] %></td>
                        <td class="success"> Matched all</td>
                    <% else %>
                        <td class="warning"> <i>Information not available.</i> </td>
                        <%= render 'search/altcmp_btn_start' %>
                        <li><%= link_to image_tag("AtokaLogoSmall.png", size: "22x22") + " " , "#"  %></li>
                        <%= render 'search/altcmp_btn_end' %>
                    <% end %>
                <% else %>
                    <td> <i>Information not available.</i> </td>
                    <% if colspan == 3 %>
                    <td> &nbsp; </td>
                    <% end %>   
                <% end %>
            </tr>
            <tr>
                <th colspan="<%= colspan %>" class="active">Identifiers</th>
            </tr>
            <tr>
                <td>Company Number</td>
               <% if alternativeCompanyInfo && alternativeCompanyInfo.any? %>
                    <% if baseCompanyInfo["company_number"] == alternativeCompanyInfo["id"] %>
                        <td class="success"> <%= baseCompanyInfo["company_number"] %></td>
                        <td class="success"> Matched all</td>
                    <% else %>
                        <td class="warning"> <%= baseCompanyInfo["company_number"] %></td>
                        <%= render 'search/altcmp_btn_start' %>
                        <li><%= link_to image_tag("AtokaLogoSmall.png", size: "22x22") + " " + alternativeCompanyInfo["id"].to_s, "#"  %></li>
                        <%= render 'search/altcmp_btn_end' %>
                    <% end %>
                <% else %>
                    <td> <%= baseCompanyInfo["company_number"] %> </td>
                    <% if colspan == 3 %>
                    <td> &nbsp; </td>
                    <% end %>   
                <% end %>
            </tr>
            <tr>
                <td>Companies House Company Number</td>
                <td> <%=  %> </td>
            </tr>
            <tr>
                <td>Atoka ID</td>
                <td> <%= alternativeCompanyInfo["id"] if alternativeCompanyInfo %> </td>
            </tr>
            <tr>
                <td>Open Corporates URI</td>
                <td> <%= link_to baseCompanyInfo["opencorporates_url"], baseCompanyInfo["opencorporates_url"] %> </td>
            </tr>
            <tr>
                <td>IT IPA Code</td>
                <td> <i> Information not available. </i> </td>
            </tr>
        </tbody>
    </table> 


    <div class="panel panel-default">
        <div class="panel-heading"><h3>The following may provide additional data about <%= baseCompanyInfo["name"] if baseCompanyInfo["name"] %></h3></div>
        <div class="panel-body">
            <table class="table table-condensed" style="border-collapse:collapse;">

                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Provider Name</th>
                        <th>Provider Description</th>
                        <th>No. Additional Properties</th>
                    </tr>
                </thead>

                <tbody>
                    <tr data-toggle="collapse" data-target="#atoka" class="accordion-toggle info">
                        <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                        <td>Atoka</td>
                        <td>Atoka is a search engine for Italian, British and Russian companies: quickly find the business information you are looking for, using powerful search filters.</td>
                        <td>11</td>

                    </tr>
                    <tr>
                        <td colspan="4" class="hiddenRow">
                            <div class="accordian-body collapse" id="atoka"> 
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Property</th>
                                        <th>Property Description</th>
                                        <th>Value </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Languages</td>
                                        <td>Languages used in web resources related to the organization.</td>
                                        <td>
                                            <a href="#" class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-lock"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Legal Forms</td>
                                        <td>Legal form of entity.</td>
                                        <td>
                                            <a href="#" class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-lock"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ATECO</td>
                                        <td>"Codice ATtivita ECOnomica": IT Standard Industrial Classification.</td>
                                        <td>
                                            <a href="#" class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-lock"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Locations</td>
                                        <td>Other locations associated to an organization.</td>
                                        <td>
                                            <a href="#" class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-lock"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Certified Emails</td>
                                        <td>A list of e-mails that are officially registered and with the same validity as certified (snail) mail.</td>
                                        <td>
                                            <a href="#" class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-lock"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Websites</td>
                                        <td>Websites associated to an organization.</td>
                                        <td>
                                            <a href="#" class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-lock"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Newsfeeds/blogs</td>
                                        <td>RSS/Atom feeds associated with an organization.</td>
                                        <td>
                                            <a href="#" class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-lock"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>CCIIA Code</td>
                                        <td>CCIIA: Camera di Commercio, Industria, Artigianto e Agricoltura. ID of the chamber of commerce that issues the REA in that province.</td>
                                        <td>
                                            <a href="#" class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-lock"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>REA Code</td>
                                        <td>REA means "Repertorio Economico Amministrativo". These are codes handed by chambers of commerce to companies upon registration.</td>
                                        <td>
                                            <a href="#" class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-lock"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>VAT Code</td>
                                        <td>Value added tax identification number.</td>
                                        <td>
                                            <a href="#" class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-lock"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>IT Tax ID</td>
                                        <td>ID issued by the Italian Revenue Agancy (Agenzia delle entrate) to identify citizens and entities.</td>
                                        <td>
                                            <a href="#" class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-lock"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            </div> 
                        </td>
                    </tr>
                    
                    <tr data-toggle="collapse" data-target="#openCorporates" class="accordion-toggle info">
                        <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                        <td>Open Corporates</td>
                        <td>OpenCorporates is the largest open database of companies and company data in the world, with in excess of 100 million companies in a similarly large number of jurisdictions.</td>
                        <td>0</td>
                    </tr>

                    <tr>
                        <td colspan="4" class="hiddenRow">
                            <div class="accordian-body collapse" id="openCorporates"> 
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Property</th>
                                        <th>Property Description</th>
                                        <th>Value </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>
                                            <a href="#" class="btn btn-default btn-sm">
                                        <i class="glyphicon glyphicon-lock"></i></a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            </div> 
                        </td>
                    </tr>
                    
                    

                    
                    
                </tbody>
                
            </table>
        </div>

    </div> 


    
 <!--   
    <table class="table table-bordered table-condensed">
        <tbody>

            <% if !params[:atokaCompanyNumber].to_s.empty? %>
            <tr>
                <td> <%= image_tag("AtokaLogoLarge.png", size: "90x30") %> </td>
                <td> Atoka is a search engine for Italian, British and Russian companies: quickly find the business information you are looking for, using powerful search filters. </td>
            </tr>
            <% end %>

            <% if baseCompanyInfo["source"] && baseCompanyInfo["source"]["publisher"] == "Brønnøysundregistrene"  %>
            <tr>
                <td> <%= link_to image_tag("BrregLogoLarge.jpg", size: "250x30"), baseCompanyInfo["registry_url"], :target => "_blank" %> </td>
                <td> The Brønnøysund Register Centre develops and operates many of Norway's most important registers and electronic solutions. Administering Altinn, coordinating data in the public sector and providing advisory services are central tasks that make things easier for business and industry. </td>
            </tr>
            <% end %>

            <tr>
                <td> <%= link_to image_tag("OCLogoLarge.png", size: "142x30"), baseCompanyInfo["opencorporates_url"], :target => "_blank" %> </td>
                <td> OpenCorporates is the largest open database of companies and company data in the world, with in excess of 100 million companies in a similarly large number of jurisdictions. Our primary goal is to make information on companies more usable and more widely available for the public benefit, particularly to tackle the use of companies for criminal or anti-social purposes, for example corruption, money laundering and organised crime. </td>
            </tr>

        </tbody>
    </table>

-->

    <% end %>
    
</div>
