<% provide(:title, "Search")  %>
<div class="container jumbotron">

    <div class="row">
        <div class="col-xs-8 col-xs-offset-3">
            <%= form_tag root_path, :method => 'get', :class => 'form-inline' do %>
            <div class="form-group">
                <%= label_tag 'company' %>
                <%= text_field_tag :search, params[:search], :placeholder => 'Company name', :class => 'form-control' %>
            </div>
            <div class="form-group">
                <%= label_tag 'country' %>
                <%= select_tag :jurisdictionFilter, options_for_select([["All", ""], ["Norway", "no"], ["Italy", "it"], ["Great Britain", "gb"]]), :class => 'form-control' %>
            </div>
            <%= button_tag "Search", :name => nil, :class => "btn btn-default" %>
        </div>
        <% end %>
    </div>

    <div>
        <% if @resultSet && @resultSet.any? %>
        <%= will_paginate @resultSet %>
        <p>
            <% @resultSet.each do |company| %>
            <%= link_to company["company"]["name"], company_info_path( :ocJurisdictionCode => "#{company["company"]["jurisdiction_code"]}", :ocCompanyNumber => "#{company["company"]["company_number"]}", :atokaCompanyNumber => "#{company["company"]["atoka_company_id"]}" ), :html => { :class => "btn" } %> 

            <% if company["company"]["atoka_company_id"] %>
            <%= image_tag("AtokaLogoSmall.png", size: "22x22") %>
            <% end %>

            <% if company["company"]["source"] && company["company"]["source"]["publisher"] == "Brønnøysundregistrene" %>
            <%= image_tag("BrregLogoSmall.png", size: "22x22") %>
            <% end %>

            <%= image_tag("OCLogoSmall.png", size: "22x22") %>
            <br/>
            <% end %>
        </p>
        <%= will_paginate @resultSet %>
        <% end %>
    </div>

</div>
